{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Server API endpoint"|t('fortrabbit-object-storage'),
    id: 'endpoint',
    name: 'endpoint',
    suggestEnvVars: true,
    value: volume.endpoint,
    errors: volume.getErrors('endpoint'),
    placeholder: 'https://objects.(us1|eu2).frbit.com'|t('fortrabbit-object-storage'),
}) }}

{{ forms.autosuggestField({
    label: "Region"|t('fortrabbit-object-storage'),
    instructions: 'Region to use'|t('fortrabbit-object-storage'),
    id: 'region',
    name: 'region',
    suggestEnvVars: true,
    value: volume.region,
    errors: volume.getErrors('region'),
    placeholder: '(us-east-1|eu-west-1)'|t('fortrabbit-object-storage'),
}) }}

{{ forms.autosuggestField({
    label: "Access Key ID"|t('fortrabbit-object-storage'),
    id: 'keyId',
    name: 'keyId',
    suggestEnvVars: true,
    value: volume.keyId,
    errors: volume.getErrors('keyId'),
}) }}

{{ forms.autosuggestField({
    label: "Secret Access Key"|t('fortrabbit-object-storage'),
    id: 'secret',
    name: 'secret',
    suggestEnvVars: true,
    value: volume.secret,
    errors: volume.getErrors('secret'),
}) }}

{{ forms.autosuggestField({
    label: "Bucket"|t('fortrabbit-object-storage'),
    name: 'bucket',
    suggestEnvVars: true,
    value: volume.bucket,
    errors: volume.getErrors('bucket'),
}) }}

{{ forms.autosuggestField({
    label: "Subfolder"|t('fortrabbit-object-storage'),
    instructions: "If you want to use a bucket’s subfolder as a Volume, specify the path to use here."|t('fortrabbit-object-storage'),
    name: 'subfolder',
    suggestEnvVars: true,
    value: volume.subfolder,
    errors: volume.getErrors('subfolder'),
    placeholder: "path/to/subfolder"|t('fortrabbit-object-storage')
}) }}

{{ forms.autosuggestField({
    label: "Expires"|t('fortrabbit-object-storage'),
    instructions: "Cache expiration period."|t('fortrabbit-object-storage'),
    name: 'expires',
    value: volume.expires,
    errors: volume.getErrors('expires'),
}) }}